 *{
            font-family: sans-serif;
        }
        .main{
            margin: 130px auto;
            width: 820px;
        }
        .bold{
            font-weight: 600;
            line-height: 20px;
        }
        p{
            margin-left: 80px;
            line-height: 30px;
            font-size: 16px;
        }
        table{
            border-collapse: collapse;
            margin-left: 50px;
        }
        table tr th,td{
            padding: 20px;
            font-size: 16px;
        }
        ul{
            margin-left: 50px;
            line-height: 35px;
        }
        ul li{
            font-size: 16px;
        }
        .bold-left{
            float: left;
            font-weight: 600;
        }
        .bold-right{
            float: right;
            font-weight: 600;
        }
